---
http_interactions:
- request:
    method: get
    uri: http://api.openhluttaw.org/en/memberships?page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"page":5,"total":1125,"next":"http://api.openhluttaw.org/en/memberships?page=6","previous":"http://api.openhluttaw.org/en/memberships?page=4","results":[{"id":"a8f64cfe737041b4ba4f6380c6577b3b","person":{"id":"fc8625773ce34d96aa4c953117f12473","other_names":[],"identifiers":[{"id":"3769815e086e4cf6bd2f8baf7c0bd7e2","links":[],"identifier":"UPMP-02-0156","created_at":"2016-06-07T11:03:56.329644Z","updated_at":"2016-06-07T11:03:56.329680Z","scheme":"identifier__hluttaw","language_code":"en"}],"birth_date":"1940-02-10","death_date":null,"links":[],"contact_details":[{"id":"5b3513d8e0dc4eed83dd0dc3bf0c320e","links":[],"type":"cell","value":"09
        2504 68115","valid_from":null,"valid_until":null,"created_at":"2016-06-08T07:03:02.231982Z","updated_at":"2016-09-03T06:50:51.018005Z","label":"Mobile
        Phone","note":null,"language_code":"en"},{"id":"f79fe2f8130341048ac6dd1288b39bd2","links":[],"type":"text","value":"09
        2504 68115","valid_from":null,"valid_until":null,"created_at":"2016-06-08T07:03:02.248594Z","updated_at":"2016-09-03T06:50:51.539410Z","label":"SMS","note":null,"language_code":"en"}],"email":null,"image":"http://goo.gl/SBGPxD","created_at":"2016-06-07T11:03:56.314915Z","updated_at":"2017-01-04T11:00:34.243063Z","name":"Kin
        Shein","family_name":"Kin Shein","given_name":null,"additional_name":null,"honorific_prefix":"U","honorific_suffix":null,"patronymic_name":null,"sort_name":null,"gender":"male","summary":"","biography":"","national_identity":"Bamar","language_code":"en"},"person_id":"fc8625773ce34d96aa4c953117f12473","organization":{"id":"897739b2831e41109713ac9d8a96c845","parent_id":null,"founding_date":null,"dissolution_date":null,"links":[],"contact_details":[],"image":null,"created_at":"2016-06-07T07:38:21.476816Z","updated_at":"2016-07-20T05:48:37.315796Z","area":null,"name":"Amyotha
        Hluttaw","classification":"Upper House","abstract":null,"description":null,"language_code":"en"},"organization_id":"897739b2831e41109713ac9d8a96c845","member":null,"member_id":null,"on_behalf_of":{"id":"fd24165b8e814a758cd1098dc7a9038a","parent_id":null,"founding_date":null,"dissolution_date":null,"links":[],"contact_details":[],"image":null,"created_at":"2016-06-13T03:14:56.019609Z","updated_at":"2016-07-22T06:11:20.899090Z","area":null,"name":"National
        League for Democracy","classification":"Party","abstract":null,"description":null,"language_code":"en"},"on_behalf_of_id":"fd24165b8e814a758cd1098dc7a9038a","area":null,"area_id":null,"post":{"id":"b1dbab8476ac479b9f318f93b1d96153","organization_id":"897739b2831e41109713ac9d8a96c845","area_id":null,"start_date":null,"end_date":null,"contact_details":[],"links":[],"created_at":"2016-06-13T08:58:29.108762Z","updated_at":"2016-06-13T08:58:29.108796Z","label":"Taninthayi-9","role":null,"language_code":"en"},"post_id":"b1dbab8476ac479b9f318f93b1d96153","contact_details":[],"links":[],"start_date":"2016-02-03","end_date":null,"created_at":"2016-06-24T14:20:26.741887Z","updated_at":"2016-06-24T14:20:26.741933Z","label":null,"role":"MP","language_code":"en"},{"id":"2e71db7405684b1189f0dd66fd24178c","person":{"id":"b455d47c61484accac174c6c14dc898d","other_names":[],"identifiers":[{"id":"70b737f7c3084dd8bad816845c9f6158","links":[],"identifier":"UPMP-02-0157","created_at":"2016-06-07T11:03:56.859212Z","updated_at"[...]
