---
http_interactions:
- request:
    method: get
    uri: http://api.openhluttaw.org/en/memberships?page=9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"page":9,"total":1125,"next":"http://api.openhluttaw.org/en/memberships?page=10","previous":"http://api.openhluttaw.org/en/memberships?page=8","results":[{"id":"d0d6083f8015485a948b71d22ad58c2c","person":{"id":"aef4ee0fc4ca47b696e26f1a9455f032","other_names":[],"identifiers":[{"id":"1289aca4d4534f61af1081554512d569","links":[],"identifier":"LWMP-02-0123","created_at":"2016-06-07T11:04:18.969436Z","updated_at":"2016-06-07T11:04:18.969460Z","scheme":"identifier__hluttaw","language_code":"en"}],"birth_date":"1955-10-04","death_date":null,"links":[],"contact_details":[{"id":"2617c21aa46a4cb4a5cb443bcfcbfbba","links":[],"type":"cell","value":"09
        7987 44183","valid_from":null,"valid_until":null,"created_at":"2016-06-08T07:03:26.573671Z","updated_at":"2016-09-03T06:44:34.112280Z","label":"Mobile
        Phone","note":null,"language_code":"en"},{"id":"2a8341d220b344b9a37fffced3826a1c","links":[],"type":"text","value":"09
        7987 44183","valid_from":null,"valid_until":null,"created_at":"2016-06-08T07:03:26.581053Z","updated_at":"2016-09-03T06:44:34.532612Z","label":"SMS","note":null,"language_code":"en"}],"email":null,"image":"https://storage.googleapis.com/staticassets/candidate-photos/Scan_F_20150826_0015.jpg","created_at":"2016-06-07T11:04:18.961877Z","updated_at":"2017-01-04T10:55:29.441972Z","name":"Sai
        Hla Thein","family_name":"Sai Hla Thein","given_name":null,"additional_name":null,"honorific_prefix":"Dr.
        Sai","honorific_suffix":null,"patronymic_name":null,"sort_name":null,"gender":"male","summary":"","biography":"","national_identity":"Shan","language_code":"en"},"person_id":"aef4ee0fc4ca47b696e26f1a9455f032","organization":{"id":"7f162ebef80e4a4aba12361ea1151fce","parent_id":null,"founding_date":null,"dissolution_date":null,"links":[],"contact_details":[],"image":null,"created_at":"2016-06-13T03:14:33.488019Z","updated_at":"2016-07-20T05:49:33.734050Z","area":null,"name":"Pyithu
        Hluttaw","classification":"Lower House","abstract":null,"description":null,"language_code":"en"},"organization_id":"7f162ebef80e4a4aba12361ea1151fce","member":null,"member_id":null,"on_behalf_of":{"id":"fd24165b8e814a758cd1098dc7a9038a","parent_id":null,"founding_date":null,"dissolution_date":null,"links":[],"contact_details":[],"image":null,"created_at":"2016-06-13T03:14:56.019609Z","updated_at":"2016-07-22T06:11:20.899090Z","area":null,"name":"National
        League for Democracy","classification":"Party","abstract":null,"description":null,"language_code":"en"},"on_behalf_of_id":"fd24165b8e814a758cd1098dc7a9038a","area":null,"area_id":null,"post":{"id":"da338ed942844975af2937ce9cd88888","organization_id":"7f162ebef80e4a4aba12361ea1151fce","area_id":null,"start_date":null,"end_date":null,"contact_details":[],"links":[],"created_at":"2016-06-13T09:23:50.311441Z","updated_at":"2016-06-13T09:23:50.311497Z","label":"Chanmyathazi","role":null,"language_code":"en"},"post_id":"da338ed942844975af2937ce9cd88888","contact_details":[],"links":[],"start_date":"2016-02-01","end_date":null,"created_at":"2016-06-24T14:24:07.543104Z","updated_at":"2016-06-24T14:24:07.543137Z","label":null,"role":"MP","language_code":"en"},{"id":"f4f1e9b6b612449e9ffcccea79c1f1bf","person":{"id":"210539274cd9481bbbff29a506ba2b12","other_names":[],"identifiers":[{"id":"12678b8c9f3846c08a98ff009319bdb0","links":[],"identifier":"LWMP-02-0125","created_at":"2016-06-07T11:06:27.597310Z","updated_at"[...]
